- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
- apiGroups:
  - kuik.enix.io
  resources:
  - clusterimagesetmirrors
  - imagemonitors
  - images
  - imagesetmirrors
  - registrymonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kuik.enix.io
  resources:
  - clusterimagesetmirrors/finalizers
  - imagemonitors/finalizers
  - images/finalizers
  - imagesetmirrors/finalizers
  - registrymonitors/finalizers
  verbs:
  - update
- apiGroups:
  - kuik.enix.io
  resources:
  - clusterimagesetmirrors/status
  - imagemonitors/status
  - images/status
  - imagesetmirrors/status
  - registrymonitors/status
  verbs:
  - get
  - patch
  - update
