---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: replicatedimagesets.kuik.enix.io
spec:
  group: kuik.enix.io
  names:
    kind: ReplicatedImageSet
    listKind: ReplicatedImageSetList
    plural: replicatedimagesets
    singular: replicatedimageset
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ReplicatedImageSet is the Schema for the replicatedimagesets
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ReplicatedImageSetSpec defines the desired state of ReplicatedImageSet.
            properties:
              foo:
                description: Foo is an example field of ReplicatedImageSet. Edit replicatedimageset_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: ReplicatedImageSetStatus defines the observed state of ReplicatedImageSet.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
