---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: registrymonitors.kuik.enix.io
spec:
  group: kuik.enix.io
  names:
    kind: RegistryMonitor
    listKind: RegistryMonitorList
    plural: registrymonitors
    shortNames:
    - regmon
    singular: registrymonitor
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.registry
      name: Registry
      type: string
    - jsonPath: .spec.parallel
      name: Parallel
      type: integer
    - jsonPath: .spec.maxPerInterval
      name: MaxPerInterval
      type: integer
    - jsonPath: .spec.interval
      name: Interval
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RegistryMonitor is the Schema for the registrymonitors API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RegistryMonitorSpec defines the desired state of RegistryMonitor.
            properties:
              interval:
                default: 10m
                description: Interval is the interval at which the image monitor checks
                  for updates
                type: string
              maxPerInterval:
                default: 1
                description: MaxPerInterval is the maximum number of images to check
                  for the given interval, defaults to 1
                minimum: 1
                type: integer
              method:
                default: HEAD
                description: Method is the HTTP method to use to monitor an image
                  of this registry
                enum:
                - HEAD
                - GET
                type: string
              parallel:
                default: 1
                description: Parallel is the number of images to check in parallel,
                  defaults to 1
                minimum: 1
                type: integer
              registry:
                description: Registry is the registry to monitor for image updates,
                  it filters local image to check upstream
                type: string
              timeout:
                default: 30s
                description: Timeout is the maximum duration of a monitoring task
                type: string
            required:
            - interval
            - maxPerInterval
            - method
            - parallel
            - registry
            - timeout
            type: object
          status:
            description: RegistryMonitorStatus defines the observed state of RegistryMonitor.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
