name: Conventional commit checker

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  check-for-cc:
    name: Conventional commit checker
    runs-on: ubuntu-22.04
    steps:
      - name: check-for-cc
        id: check-for-cc
        uses: agenthunt/conventional-commit-checker-action@v2.0.0
        with:
          pr-body-regex: "(.*)"
