name: Conventional commit checker

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  check-for-cc:
    name: Conventional commit checker
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: check-for-cc
        id: check-for-cc
        uses: ahmadnassri/action-commit-lint@v1
        with:
          config: conventional
